@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  user-select: none;
}

* {
  user-select: none;
  font-family: "Inter", sans-serif;
}
html {
  user-select: none;
  @apply bg-bgMain;
}
::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* default, light mode styling */
.element {
  background-color: #fff;
  color: #000;
}

/* if user switches the system settings to dark mode */
/* this media query will be applied */
@media (prefers-color-scheme: dark) {
  .element {
    background-color: #000;
    color: #fff;
  }
}
